.border {
    background: #1bbc9b;
    height: 350px;
    width: 700px;
    margin: 150px 0px 0px 350px;
    /* padding: 50px 90px 50px 230px; */
    
}
.strelka {
    background: #eaefef;
    height: 250px;
    width: 350px;
    border-radius: 5px;
    float: right;
    margin-top: 55px;
    margin-right: 110px;

  
}
.name {
    height: 40px;
    width: 285px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;
    border: none;
    font-size: 18px;
    font-family: Arial;
    padding-left: 15px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25.916 25.916' width='512' height='512'%3e%3cg fill='%236b6c6d'%3e%3cpath d='M7.938 8.13c.09.414.228.682.389.849.383 2.666 2.776 4.938 4.698 4.843 2.445-.12 4.178-2.755 4.567-4.843.161-.166.316-.521.409-.938.104-.479.216-1.201-.072-1.583a3.786 3.786 0 0 0-.146-.138c.275-.992.879-2.762-.625-4.353-.815-.862-1.947-1.295-2.97-1.637-3.02-1.009-5.152.406-6.136 2.759-.071.167-.53 1.224.026 3.231a.57.57 0 0 0-.144.138c-.289.381-.101 1.193.004 1.672z'/%3e%3cpath d='M23.557 22.792c-.084-1.835-.188-4.743-1.791-7.122 0 0-.457-.623-1.541-1.037 0 0-2.354-.717-3.438-1.492l-.495.339.055 3.218-2.972 7.934a.444.444 0 0 1-.832 0l-2.971-7.934s.055-3.208.054-3.218c.007.027-.496-.339-.496-.339-1.082.775-3.437 1.492-3.437 1.492-1.084.414-1.541 1.037-1.541 1.037-1.602 2.379-1.708 5.287-1.792 7.122-.058 1.268.208 1.741.542 1.876 4.146 1.664 15.965 1.664 20.112 0 .336-.134.6-.608.543-1.876z'/%3e%3cpath d='M13.065 14.847l-.134.003c-.432 0-.868-.084-1.296-.232l1.178 1.803-1.057 1.02 1.088 6.607a.118.118 0 0 0 .232 0l1.088-6.607-1.058-1.02 1.161-1.776c-.379.111-.78.185-1.202.202z'/%3e%3c/g%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 8%;
    background-position: 270px;
    
    
    
}

.password {
    height: 40px;
    width: 285px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;
    border: none;
    font-size: 18px;
    font-family: Arial;
    padding-left: 15px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 486.733 486.733'%3e%3cpath d='M403.88 196.563h-9.484v-44.388c0-82.099-65.151-150.681-146.582-152.145-2.225-.04-6.671-.04-8.895 0C157.486 1.494 92.336 70.076 92.336 152.175v44.388h-9.485c-14.616 0-26.538 15.082-26.538 33.709v222.632c0 18.606 11.922 33.829 26.539 33.829H403.88c14.616 0 26.539-15.223 26.539-33.829V230.272c0-18.626-11.922-33.709-26.539-33.709zM273.442 341.362v67.271c0 7.703-6.449 14.222-14.158 14.222H227.45c-7.71 0-14.159-6.519-14.159-14.222v-67.271c-7.477-7.36-11.83-17.537-11.83-28.795 0-21.334 16.491-39.666 37.459-40.513 2.222-.09 6.673-.09 8.895 0 20.968.847 37.459 19.179 37.459 40.513-.002 11.258-4.355 21.435-11.832 28.795zm58.444-144.799H154.847v-44.388c0-48.905 39.744-89.342 88.519-89.342 48.775 0 88.521 40.437 88.521 89.342v44.388z' fill='%236b6c6d'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 8%;
    background-position: 270px;    
    
}
.name:hover {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25.916 25.916' width='512' height='512'%3e%3cg fill='%231bbc9b'%3e%3cpath d='M7.938 8.13c.09.414.228.682.389.849.383 2.666 2.776 4.938 4.698 4.843 2.445-.12 4.178-2.755 4.567-4.843.161-.166.316-.521.409-.938.104-.479.216-1.201-.072-1.583a3.786 3.786 0 0 0-.146-.138c.275-.992.879-2.762-.625-4.353-.815-.862-1.947-1.295-2.97-1.637-3.02-1.009-5.152.406-6.136 2.759-.071.167-.53 1.224.026 3.231a.57.57 0 0 0-.144.138c-.289.381-.101 1.193.004 1.672z'/%3e%3cpath d='M23.557 22.792c-.084-1.835-.188-4.743-1.791-7.122 0 0-.457-.623-1.541-1.037 0 0-2.354-.717-3.438-1.492l-.495.339.055 3.218-2.972 7.934a.444.444 0 0 1-.832 0l-2.971-7.934s.055-3.208.054-3.218c.007.027-.496-.339-.496-.339-1.082.775-3.437 1.492-3.437 1.492-1.084.414-1.541 1.037-1.541 1.037-1.602 2.379-1.708 5.287-1.792 7.122-.058 1.268.208 1.741.542 1.876 4.146 1.664 15.965 1.664 20.112 0 .336-.134.6-.608.543-1.876z'/%3e%3cpath d='M13.065 14.847l-.134.003c-.432 0-.868-.084-1.296-.232l1.178 1.803-1.057 1.02 1.088 6.607a.118.118 0 0 0 .232 0l1.088-6.607-1.058-1.02 1.161-1.776c-.379.111-.78.185-1.202.202z'/%3e%3c/g%3e%3c/svg%3e");   
}
.password:hover {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 486.733 486.733'%3e%3cpath d='M403.88 196.563h-9.484v-44.388c0-82.099-65.151-150.681-146.582-152.145-2.225-.04-6.671-.04-8.895 0C157.486 1.494 92.336 70.076 92.336 152.175v44.388h-9.485c-14.616 0-26.538 15.082-26.538 33.709v222.632c0 18.606 11.922 33.829 26.539 33.829H403.88c14.616 0 26.539-15.223 26.539-33.829V230.272c0-18.626-11.922-33.709-26.539-33.709zM273.442 341.362v67.271c0 7.703-6.449 14.222-14.158 14.222H227.45c-7.71 0-14.159-6.519-14.159-14.222v-67.271c-7.477-7.36-11.83-17.537-11.83-28.795 0-21.334 16.491-39.666 37.459-40.513 2.222-.09 6.673-.09 8.895 0 20.968.847 37.459 19.179 37.459 40.513-.002 11.258-4.355 21.435-11.832 28.795zm58.444-144.799H154.847v-44.388c0-48.905 39.744-89.342 88.519-89.342 48.775 0 88.521 40.437 88.521 89.342v44.388z' fill='%231bbc9b'/%3e%3c/svg%3e");
}

button {
    background-color:#1bbc9b;
    height: 40px;
    width: 300px;
    border-radius: 5px; 
    margin-top: 20px;
    margin-left: 20px;
    border: none;
    font-size: 18px;
    font-family: Arial;
    color: white;
    padding-left: 15px;
    
}
 a {
    text-decoration: none;
    font-size: 14px;
    font-family: Arial;
    padding-top: 10px;
    color: #c0c4c4;
 }
 .lost {
    margin: 20px;
    text-align: center;
    
 }
 .left {
    float: left;
    position: absolute;
    margin-top: 55px;
    margin-left: 80px;
    color: white;
    
   
 }
.Welkome {
    font-size: 17px;
    font-family: Arial;
    margin-top: 10px;
    
}
.Mail {
    font-size: 17px;
    font-family: Arial;
    font-weight: bold;
    margin-top: 10px;
}


    
    


 
     
   
 



